.cache/chroma/telemetry_user_id
.cache/**
uploads/**

src/yoga1290/**/**/**/__pycache__/**
src/yoga1290/**/**/**/.ipynb_checkpoints/**
src/yoga1290/**/**/**/.cache/**

src/yoga1290/**/**/__pycache__/**
src/yoga1290/**/**/.ipynb_checkpoints/**
src/yoga1290/**/**/.cache/**

src/yoga1290/**/__pycache__/**
src/yoga1290/**/.ipynb_checkpoints/**
src/yoga1290/**/.cache/**

src/**/__pycache__/**
src/**/.ipynb_checkpoints/**
src/**/.cache/**


.ipynb_checkpoints/**
.jupyter/migrated
.jupyter/**
.local/**
chroma_db/**

.ipython/

**/.ipynb_checkpoints
.query/output.csv
.query/attachments/Test_RAG_Query/Mon_6_Apr_2026_10-46-51_-0700___body.txt
.query/attachments/Test_RAG_Query/Mon_6_Apr_2026_10-46-51_-0700___index.html
responses/CAH9NQxP+P6N00qW3xC=+9jRb+KrYncErMD-m9A-ibVeTbiW0Ug@mail.gmail.com.txt
responses/
.documents/
src/dist/