###########################################################
## variables for ghcr.io/yoga1290/python-imap-smtp:26.04 ##
###########################################################
USERNAME=<my-email>@gmail.com
APP_PASSWORD= #TODO
IMAP_SERVER=imap.gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
N_COUNT=5

DOCUMENTS_PATH=documents
DOCUMENTS_EMAIL=<my-email>+RECEIPTS@gmail.com
QUERY_EMAIL=<my-email>+query@gmail.com

DOCUMENTS_CSV_PATH=documents/output.csv
DOCUMENTS_CSV_COLUMN=attachments

################################################
############   LLM & RAG variables #############
################################################

#############################################################

# https://huggingface.co/Qwen/Qwen3-Embedding-0.6B-GGUF?show_file_info=Qwen3-Embedding-0.6B-Q8_0.gguf
LLAMACPP_EMBEDDING_MODEL_PATH=./Qwen3-Embedding-0.6B-Q8_0.gguf

LLAMACPP_EMBEDDING_CONTEXT=768

# https://huggingface.co/microsoft/Phi-3-mini-4k-instruct-gguf/blob/main/Phi-3-mini-4k-instruct-q4.gguf
LLAMACPP_MODEL_PATH=./Mistral-7B-Instruct-v0.3.Q2_K.gguf
LLAMACPP_TEMPERATURE=0.05
LLAMACPP_MAX_TOKENS=450
LLAMACPP_CONTEXT=32768
LLAMACPP_BATCH=384

LLAMACPP_EMBEDDING_N_BATCH=500

SIMILARITY_TOP_K=2
TEXT_SPLITTER_CHUNK_SIZE=500
TEXT_SPLITTER_CHUNK_OVERLAP=50
    
#######################################

POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword